body
{
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4f4;
    direction: ltr;
}
.container 
{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
ul{
    margin: 0;
    padding: 0;
}
header
{
    background: #353637;
    color: #ffffff;
    padding-top: 15px;
    min-height: 80px;
    border-bottom: #32a0c2 25px solid;
}
header a
{
    color: #ffffff;
    text-decoration: none;
    font-size: 19px;
}
header li{
    float: left;
    display: inline;
    padding: 0 100px 0 100px;
}
header #brand h1
{
    margin: 20;
    color: aqua;
}
header nav
{
    float: left;
    margin-top: unset;
}
header .container a
{
    color: aqua;
    font-weight: bold;
}
header a:hover
{
    color: #000000;
    font-weight: bold;
}
#boxes
{
    margin-top: 20px;

}
#boxes .box
{
    float: left;
    text-align: center;
    width: 30%;
    padding: 10px;
}
footer
{
    padding: 20px;
    margin-top:20px;
    color: #32a0c2;
    background-color: #353637;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-bottom:10px;
} 
@media(max-width:786px)
{
    header #brand,
    header nav,
    header nav li,
    #boxes.box
    {
        float:none;
        text-align: center;
        width:100%
    }
    header
    {
        padding-bottom:20px;
    }
}

<body>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
      mollitia, consequuntur aliquid nobis vitae soluta maiores expedita ipsam
      delectus molestiae!
    </p>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur
      architecto temporibus sed officiis vero, quisquam, corrupti quis veritatis
      dolor amet nostrum quam! Voluptates nam architecto enim neque nemo
      consectetur molestias unde fugit dolorum alias temporibus expedita
      doloribus deserunt laborum asperiores illum saepe, voluptate rerum quia
      sit facilis consequuntur perferendis aperiam. Nobis reiciendis debitis
      consequuntur placeat maiores voluptas, quos esse eum.
    </p>

    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus fugiat,
      nemo rem facere cumque error. Aliquam consequatur nobis cupiditate atque!
      Fugiat amet facere magni, nulla pariatur ut ullam, vel est eum voluptatum
      dicta quis dignissimos labore repellendus. Maiores deserunt quas tempore
      impedit, corporis quae amet blanditiis voluptatum laudantium magni ipsa!
    </p>
</body>

 //<body>
//    <p>
//      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
//      mollitia, consequuntur aliquid nobis vitae soluta maiores expedita ipsam
//      delectus molestiae!
//    </p>
//
//    <p>
//      Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur
//      architecto temporibus sed officiis vero, quisquam, corrupti quis veritatis
//      dolor amet nostrum quam! Voluptates nam architecto enim neque nemo
//      consectetur molestias unde fugit dolorum alias temporibus expedita
//      doloribus deserunt laborum asperiores illum saepe, voluptate rerum quia
//      sit facilis consequuntur perferendis aperiam. Nobis reiciendis debitis
//      consequuntur placeat maiores voluptas, quos esse eum.
//    </p>
//
//    <p>
//      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus fugiat,
//      nemo rem facere cumque error. Aliquam consequatur nobis cupiditate atque!
//      Fugiat amet facere magni, nulla pariatur ut ullam, vel est eum voluptatum
//      dicta quis dignissimos labore repellendus. Maiores deserunt quas tempore
//      impedit, corporis quae amet blanditiis voluptatum laudantium magni ipsa!
//    </p>
//</body>
//
 @media screen and (max-width: 768px) {
        body {
          background-color: #333;
          color: #3498db;
        }
     }

<p>
   Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
   mollitia, consequuntur aliquid nobis vitae soluta maiores expedita ipsam
   delectus molestiae!
</p>

<p>
   Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur
   architecto temporibus sed officiis vero, quisquam, corrupti quis veritatis
   dolor amet nostrum quam! Voluptates nam architecto enim neque nemo
   consectetur molestias unde fugit dolorum alias temporibus expedita
   doloribus deserunt laborum asperiores illum saepe, voluptate rerum quia
   sit facilis consequuntur perferendis aperiam. Nobis reiciendis debitis
   consequuntur placeat maiores voluptas, quos esse eum.
</p>

<p>
   Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus fugiat,
   nemo rem facere cumque error. Aliquam consequatur nobis cupiditate atque!
   Fugiat amet facere magni, nulla pariatur ut ullam, vel est eum voluptatum
   dicta quis dignissimos labore repellendus. Maiores deserunt quas tempore
   impedit, corporis quae amet blanditiis voluptatum laudantium magni ipsa!
</p>


//<p>
//   Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
//   mollitia, consequuntur aliquid nobis vitae soluta maiores expedita ipsam
//   delectus molestiae!
//</p>
//
//<p>
//   Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur
//   architecto temporibus sed officiis vero, quisquam, corrupti quis veritatis
//   dolor amet nostrum quam! Voluptates nam architecto enim neque nemo
//   consectetur molestias unde fugit dolorum alias temporibus expedita
//   doloribus deserunt laborum asperiores illum saepe, voluptate rerum quia
//   sit facilis consequuntur perferendis aperiam. Nobis reiciendis debitis
//   consequuntur placeat maiores voluptas, quos esse eum.
//</p>
//
//<p>
//   Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus fugiat,
//   nemo rem facere cumque error. Aliquam consequatur nobis cupiditate atque!
//   Fugiat amet facere magni, nulla pariatur ut ullam, vel est eum voluptatum
//   dicta quis dignissimos labore repellendus. Maiores deserunt quas tempore
//   impedit, corporis quae amet blanditiis voluptatum laudantium magni ipsa!
//</p>
//
@media screen and (max-width: 768px) {
        p {
          font-size: 1.5rem;
        }
      }

 img {
        display: block;
        max-width: 100%;
      }
